#text {
    height: 300px;
    width: 600px;
    font-size: 14pt;
    border-width: 6px;
    border-color: orange;
    border-style: solid;
 	background-color: grey;
}

#ta {
	height: 100px;
	width: 300px;
	font-size: 14pt;
	background-color: grey;
}

#li1 {
	color: orange;
	text-decoration: overline;
}

.plm {
	color: white;
	width: 610px;
	height: 300px;
	border-color: orange;
	border-width: 7px;
	border-style: solid;
	background-color: black;

}

.bg {
	background-color: orange;
	width: 600px;
}

td {
	border-color: red;
	border-width: 3px;
	border-style: solid;
}

th {
	border-color: navy;
	border-width: 3px;
	border-style: solid;
}

body {
	background-color: black;
}

#cssTable td 
{
    text-align: center; 
    vertical-align: middle;
}

h2 {
	color: white;
}

h1 {
	width: 600px;
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-sizing: border-box;
    border: 1px solid black;
}

.plm2 {
	box-sizing: border-box;
    border: 5px orange;
    width: 610px;
    background-color: black;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: yellow;
}

p, text {
	color: white;
}

ol {
	color: white;
}

label {
	color: white;
}

h2 {
	color: orange;
}

